<div id="container">
    <h2>Please enter your email:</h2>
    <p *ngIf="hasError">
        {{loginError}}
    </p>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
            <mat-label for="email" color="primary">E-mail</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="form.email.errors">
                <div *ngIf="form.email.errors.required">Field can't be empty</div>
                <div *ngIf="form.email.errors.email">Enter please valid email</div>
            </mat-error>
        </mat-form-field>
    </form>

    <button [disabled]="submitted" id="btn" mat-raised-button color="primary" (click)="submit()">
        Login
    </button>
</div>